<div id="sidebar">
    <mat-nav-list>
        <!--
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>-->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/cadastrar']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Cadastar' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/usuarios']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Usuarios' | translate }}
        </a>
    </mat-nav-list>
</div>
